@use "./../partials/text-styles";
@use "./../partials/palette";
@use "./../mixins/mixins.scss";

#books-grid {
	margin-top: 90px;
	margin-bottom: 60px;
	@include mixins.phone {
		margin-top: 40px;
	}
}

.container__books-grid {
	width: 96%;
	text-align: center;
	margin: 2%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 15px;

	@include mixins.large-screen {
		grid-template-columns: 1fr 1fr;
	}

	@include mixins.laptop {
		grid-template-columns: 1fr 1fr;
	}

	@include mixins.landscape-tablet-and-smaller {
		grid-template-columns: 1fr;
	}
}

h4 {
	@extend %small-heading;
	text-align: center;
}

.container__books-grid > div {
	border: 1px solid black;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
	// cursor: pointer;
}

.container__books-grid > div > * {
	margin: 10px;
}

.container__books-grid > div > img {
	height: 200px;
	width: auto;
	margin-bottom: 25px;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
		rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.books-grid__decs {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	text-align: left;
	margin: 15px;
}

.books-grid__decs > h4 {
	padding-top: 30px;
	padding-bottom: 15px;
	@include mixins.phone {
		padding-bottom: 15px;
	}
}

.author {
	font-size: 16px;
	text-transform: uppercase;
}

.books-grid__card:hover .books-grid__card--overlay {
	opacity: 0.95;
}

.description {
	@extend %para;
	font-size: 13px;
}

a {
	@extend %btn-font;
	font-size: 22px;
}

/* The Modal (background) */
.modal {
	// display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100vw; /* Full width */
	height: 100vh; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
	display: none;
}

/* Modal Content */
.modal-content {
	background-color: white;
	margin: auto;
	padding: 30px;
	border: 1px solid black;
	width: 40%;
	height: auto;
	@include mixins.landscape-tablet-and-smaller {
		width: 60%;
	}
}

.modal-content > p {
	padding: 20px;
	text-align: left;
}

.modal-content > h4 {
	padding-bottom: 20px;
}

.close {
	background-color: white;
	border: none;
	@extend %para;
	margin-bottom: 20px;
	font-size: 30px;
	cursor: pointer;
}
